font-family: 'Raleway', sans-serif;

h1, h2, h3, h4 {
    font-family: Raleway;
}

/* Navbar */

.navbar-default {
    background-color: white;
    padding-top: 15px;
}

.lockboxx-header {
    text-align: center;
}

.header-logo {
    max-width: 80%;
}

.lockboxx-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lockboxx-nav a {
    padding: 10px;
    color: #a5a5a5;
    font-weight: 400;
    font-size: 20px;
    font-family: Raleway;
}

.lockboxx-nav a:hover {
    color: #6A83F7;
    text-decoration: none;
}

/* Jumbotron */

.jumbotron {
    background: url(/img/porch_blur.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    padding-top: 60px;
    padding-bottom: 10%;
}

.jumbotron h1 {
    margin-top: 20%;
}

.jumbotron button {
    border-radius: 0px;
    margin-top: 5px;
}

.jumbotron input {
    padding-left: 10px;
    padding-right: 10px;
}

/* Sections */

section {
    /* Allow scrollspy to work without fixed navbar getting in the way of top line*/
    margin-top: -100px;
    padding-top: 100px;
    text-align: center;
}

section .row {
    padding: 20px;
}

.dark {
    background-color: #e1e2e3;
    color: white;
}

section h4 {
    text-align: justify;
}